<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471094977981-8pq8vq02st1pjre2c7ddudb2io0umd81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471094977981-8pq8vq02st1pjre2c7ddudb2io0umd81</string>
	<key>API_KEY</key>
	<string>AIzaSyBVLsNg_Ka5Gm7P8ZH4a9TJzkHUmyBu_M4</string>
	<key>GCM_SENDER_ID</key>
	<string>471094977981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orderApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-463cf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-463cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471094977981:ios:a9c055685c20b2e78bded4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-463cf-default-rtdb.firebaseio.com</string>
</dict>
</plist>